* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Стили секции герой */
.promo {
    height: 800px;
    background: url('../img/bkgs/hero-bg.jpg') center center / cover no-repeat;
    padding: 38px 0 62px 0;
}

.logo .logo-img {
    display: block;
    margin: 0 auto;
}

.logo .logo-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    margin-top: 9.5px;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.container .title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #F9BF3B;
}

.big-title>h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 20.5px;
}

h1 {
    margin-top: 53px;
}

h2.title {
    margin-top: 20.5px;
}

.promo .promo-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin: 22.5px 13px 0 13px;
}

.promo .promo-text span {
    font-weight: 700;
    color: #F9BF3B;
}

.promo .add-intensive {
    margin: 72px auto;
    display: block;
    width: 313px;
    height: 72px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    border: 0;
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    border-radius: 5px;
}

.more .more-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.more-text .more-img {
    display: block;
    margin: 0 auto;
    margin-top: 4.5px;
    cursor: pointer;
}

/* Секция вас что вас ждёт */
.what {
    margin: 0;
    background: #EFEFEF;
    padding: 88px 0 75px 0;
    min-height: 607px;
}

.what .container .what-you {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    color: #252525;
    text-align: center;
    padding: 0;
}

.what .container .yelow-line {
    margin: 20px auto 0 auto;
    width: 217px;
    height: 4px;
    left: 853px;
    top: 131px;
    background: #F9BF3B;
}

.what .container .free {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    text-align: center;
    color: #4A4A4A;
    padding: 0;
    margin-top: 19.5px;
}

.what .container .whait-list {
    display: flex;
    list-style: none;
    margin-top: 45px;
    justify-content: space-around;
}

.what .container .whait-list .whait-list-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #4A4A4A;
    width: 350px;
}

.what .container .whait-list .whait-list-item .whait-text {
    margin-top: 26px;
}


/* Стили секцкии оптимизация */
.optimization {
    /* background-position: 150px 47px;
    background: url(../img/bkgs/woman_bg.jpg) bottom left/ contain no-repeat; */
    /* background-color: #FFFFFF; */
    min-height: 550px;
    padding: 108px 0 74px 0;
}

.optimization .optimization-title {
    margin-left: 391px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    color: #299CBD;
}

.optimization .optimizaton-text {
    margin-left: 391px;
    margin-top: 25px;
    min-height: 312px;
    width: 750px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
}

.optimization .optimizaton-text span {
    font-weight: 700;
}

.optimization .optimization-bkg .opt-bkg {
    position: absolute;
    top: -61px;
    left: -240px;
    z-index: -1;
}

/* Стилизация секции финиш */
.finish {
    background: url('../img/bkgs/second_bg.jpg') center center/ cover no-repeat;
    min-height: 447px;
    padding: 86px 0 68.5px 0;
}

.finish .finish-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #EFEFEF;
}

.finish .yelow-line {
    width: 220px;
    height: 7px;
    background: #F9BF3B;
    margin: 18px auto 0 auto;
}

.finish .spels-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-top: 39px;
}

.finish .spels-list .spel-round {
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background: #B4E2FF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.finish .spels-list .spel-text {
    margin-top: 26.5px;
    width: 234px;
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #EFEFEF;
}

/* Стилизация секции подарок */
.gift {
    min-height: 631px;
    padding: 85px 0 88px 0;
    background: #EFEFEF;
}

.gift .gift-content .gift-img {
    display: block;
    margin: 0 auto;
}

.gift .gift-content .gift-text {
    margin-top: 45px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #252525;
}

.gift .gift-content .gift-buton {
    display: block;
    margin: 51px auto 0 auto;
    width: 313px;
    height: 72px;
    left: 805px;
    top: 471px;
    border-radius: 5px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border: 0;
    font-family: 'Roboto Condensed';
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

/* Стилизация секции старт */
.start {
    min-height: 512px;
    padding: 81px 0 52px 0;
}

.start .start-img {
    display: block;
    margin: 0 auto;
}

.start .start-text {
    margin-top: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}

.start .start-text .start-deadline {
    display: block;
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    color: #299CBD;
}

.start .start-text .start-quick {
    display: block;
    margin-top: 24.5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    color: #4A4A4A;
}

/* Стилизация подвала */
footer {
    min-height: 169px;
    padding: 57px 0 69px 0;
    background-color: #1A1A1A;
}

.contacts {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #888888;
}

.contacts .support,
.contacts .politics {
    color: #888888;
}